.root {
  min-height: 100vh;
  padding: 50px 80px;
}

.input-block {
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submit-button {
  display: block;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.image-preview {
  width: 100%;
  height: auto;
  margin: 10px 0px;
}
